body {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.high-score{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.quiz{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.information1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.information2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}